* {
	box-sizing: border-box;
	word-break: break-word;
	max-width: 100%;
}
html,
body {
	height: 100%;
	font-family: monospace;
	font-size: 11px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow: hidden;
}
a {
	color: inherit;
	font-weight: 700;
	transition: transform .2s ease;
}

main {
	height: 100%;
	width: 100%;
}
.wrapper {
	width: 90%;
}
section {
	width: calc(100% - 69px);
	max-width: 440px;
	position: absolute;
	left: 69px;
}

section .wrapper {
	display: none;
	padding-top: 44px;
	padding-bottom: 44px;
	background-color: #fff;
	overflow-y: scroll;
	width: 100%;
	height: calc(100vh - 93px);
}
section .wrapper .copy {
	min-height: 100%
}
section.active .wrapper {
	display: block;
}

.site-header {
	position: fixed;
	height: 100%;
	z-index: 999;
}
/* Site Nav */
.site-nav {
	height: 100%;
	width: 69px;
	background-color: #fff;
	border-right: 1px solid #d8d8d8;
	overflow: hidden;
	transition: width .2s ease;
}
.site-nav.active {
	width: calc(69px + 100px);
}
.trigger {
	width: 100px;
	display: flex;
	flex-direction: column;
	text-align: right;
	transform: translateX(69px);
}
/* End Site nav */
/* Button styles */
.btn {
	font-size: 12px;
	font-weight: 700;
	color: #000;
	border: 2px solid #000;
	padding: 12px 21px;
}
.btn:hover {
	letter-spacing: 22px;
	text-decoration: underline;
}
/* Form styles */
label {
	font-size: 9px;
	font-weight: 800;
}
input,
textarea {
	width: 100%;
	height: 33px;
	margin-bottom: 21px;
	padding: 12px;
	font-size: 15px;
	font-family: inherit;
	border: none;
	box-shadow: 1px 1px 1px #0000001f;
	box-sizing: border-box;
	outline: none !important;
	-webkit-appearance: none;
}
textarea {
	min-height: 50px;
}

/* End Form styles */

/* Shows */
#shows label {
	margin-bottom: 1.2em;
	color: #d5d3d1;
}
.show {
	margin-bottom: 2em;
}
#past .show {
	font-size: 10px;
	font-weight: 500;
}
#upcoming .show {
	font-size: inherit;
	padding: 67px 18px;
	border: 2px solid;
}
/* End shows */
/* Label */
.release {
	margin-bottom: 2em;
}
.release ol {
	margin-bottom: 0;
}
.listen:before {
	content: "--> ";
	transition: transform .2s ease;
}

.listen {
	display: block;
	margin-top: 1em;
	font-weight: 800;
}

/* End label */
/* Fooetr */
footer {
	position: absolute;
	text-align: right;
	bottom: 0;
	width: calc(100vw - 69px);
	left: 69px;
	background-color: #fff;
}
footer .wrapper {
	max-width: 440px;
	width: 100%;
	margin-left: 0;
}

@media screen and (max-width: 655px) {
	#upcoming .show {
		padding: 38px 14px;
	}
	.site-nav .page-link {
		font-size: 18px;
	}
	.socials a {
		font-size: 16px;
	}

	.listen {
		border: 1px solid;
		padding: 12px;
		text-align: center;
		background-color: #000;
		color: #fff;
	}
	.listen:hover {
		letter-spacing: 22px;
	}
	.listen:before {
		content: none;
	}
}